<script>
  // Wait until the DOM has loaded
  $(document).ready(function() {
    console.log('DOM is ready...');

    // YOUR CODE HERE
    var socket = io();
    $('form').submit(function() {
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg) {
      $('#messages').append($('<li>').text(msg));
    });
  });
</script>

<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>