<!DOCTYPE HTML>
<script>
  // Wait until the DOM has loaded
  $(document).ready(function() {
    console.log('DOM is ready...');

    // YOUR CODE HERE
    var socket = io();
    $('form').submit(function() {
      socket.emit('chat message', {from:{{username}}, msg:$('#m').val()});
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(data) {
      $('#messages').append($('<li>').text(data.from.concat(': ').concat(data.msg)));
    });
  });
</script>

<ul id="messages" style="padding-top: 4px;">
  {{#each messages}}
    <li>{{from}}: {{message}}</li>
</ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>