<!DOCTYPE html>

<div class="valign-wrapper center-align" style="height:90%; width: 100%; position: absolute">
		<div id="chat-container" class="valign" style="width:100%;">
			<a class="waves-effect waves-light btn-large" id="chat" style="width:100%;">Chat</a>
		</div>
</div>