<!DOCTYPE html>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><img src="images/ic_reorder_white_24dp_2x.png" style="display: block; margin: 15% 0 0 0; text-align: left"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="login">Log In</a></li>
      <li><a href="signup">Sign Up</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="login">Log In</a></li>
      <li><a href="signup">Sign Up</a></li>
    </ul>
  </div>
</nav>