<!DOCTYPE html>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="images/logo copy.png" style="display: block; margin: 20% 10% 0% 10%; text-align: left"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><img src="images/ic_reorder_white_24dp_2x.png" style="display: block; margin: 15% 0 0 0; text-align: left"></a>
    <ul class="right hide-on-med-and-down">
      {{#if loggedin}}
        {{#if ready}}
          <li><a href="endchat">End Chat</a></li>
        {{else}}
          <li><a href="chatroom">Chat</a></li>
        {{/if}}
        <li><a href="user">Profile</a></li>
        <li><a href="logs">Logs</a></li>
      {{else}}
        <li><a href="login">Log In</a></li>
        <li><a href="signup">Sign Up</a></li>
      {{/if}}
    </ul>
    <ul class="side-nav" id="mobile-demo">
      {{#if loggedin}}
        {{#if ready}}
          <li><a href="endchat">End Chat</a></li>
        {{else}}
          <li><a href="chatroom">Chat</a></li>
        {{/if}}
        <li><a href="user">Profile</a></li>
        <li><a href="logs">Logs</a></li>
      {{else}}
        <li><a href="login">Log In</a></li>
        <li><a href="signup">Sign Up</a></li>
      {{/if}}
    </ul>
  </div>
</nav>