<!DOCTYPE html>
<html>
  <head>
    <title>TITLE</title>
    {{> head}}
    <link rel="stylesheet" href="stylesheets/chatroom.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  	{{> navbar}}
  	{{> chatroom}}
  	
  </body>
</html>
<!--
{{#each friends}}
<div class="tab">{{username}}</div>
{{/each}}
-->