<!DOCTYPE html>
<html>
  <head>
    <title>TITLE</title>
    {{> head_partial}}
    <script src="/javascripts/socket.io.js"></script>
  </head>
  <body>
  	{{> navbar}}
    {{#if connected}}
      {{> chatroom}}
    {{else}}
      {{> connect}}
    {{/if}}
  </body>
</html>