<!DOCTYPE html>
<html>
  <head>
    {{> head_partial}}
  </head>
  <body>
  	{{> navbar}}
    <div class="valign-wrapper center-align main" style="height:92%; width: 100%; position: absolute">
      <div class="valign" style="width:100%">
        <div class ="text" style="width:75%; margin: 0 auto">
    	    <h1>Break the Social Media Bubble</h1>
          <h4>Talk to someone with different views - current topic: Hillary/Trump</h4>
    	    <p>Please sign in or register to get automatically paired with the other side</p>
        </div>
  	  </div>
    </div>
  </body>
</html>
