<!DOCTYPE html>
<html>
  <head>
    <title>TITLE</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  	  <script src="../public/javascripts/materialize-components.js"></script>
  </head>
  <body>
  	{{> navbar}}
  	
  </body>
</html>
