<!DOCTYPE html>
<html>
  <head>
    {{> head_partial}}
  </head>
  <body>
  	{{> navbar}}
    <h3>Sign Up</h3>
  	<div class="row">
    <form class="col s12" action="/signup" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate" name="username">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <h5>Do you support Hillary or Trump?</h5>
          <input class="with-gap" type="radio" name="radio1" id="radio-1.1" value="0"/>
          <label for="radio-1.1" class="radio-buttons">Hillary</label>

          <input class="with-gap" type="radio" name="radio1" id="radio-1.2" value="1"/>
          <label for="radio-1.2" class="radio-buttons">Trump</label>
      </div>
      <div class="row" style="text-align: right;">
	    <button class="btn waves-effect waves-light" type="submit">Submit</button>
	  	</div>
    </form>
  	</div>
  </body>
</html>
