<!DOCTYPE html>
<html>
  <head>
    {{> head_partial}}
  </head>
  <body>
  	{{> navbar}}
    <h4>Username: {{username}}</h3>
    <h4>Preference: {{preference}}</h4>
  	<!--preferences-->
  </body>
</html>